body {
     background-color: Gainsboro;
     font-family: "Times New Roman", Times, serif;
}
 h1 {
     color: Black;
     text-align: center;
     font-family: 'Raleway', sans-serif;
     font-weight: bold;
}
 h2 {
     color: DimGray;
}
 h3 {
     color: DimGray;
}
 .nav {
     list-style-type: none;
     margin: 0;
     padding: 0;
     background-color: DimGray;
     overflow: hidden;
     text-align: center;
}
 .nav li {
  display: inline;
}
 .nav a {
     display: inline-block;
     color: Gainsboro;
     padding: 10px 15px;
     position: relative;
     text-decoration: none;
}
 nav ul li :hover {
     background-color: Black;
}
 .active {
     background-color: Black;
}
 .selfpic {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 300px;
     height: 300px;
}
 .personalinfo {
     text-align: center;
     border: 4px solid DimGray;
     padding: 5px;
     margin: 20px;
}
 .education {
     margin: 5px;
     font-family: 'Raleway', sans-serif;
}
 .skills {
     margin: 5px;
}
 .mousepic {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 400px;
     height: 300px;
}
 .mousedesc {
     color: Black;
     text-align: center;
     font-family: 'Raleway', sans-serif;
     font-weight: bold;
}
 .review {
     margin-left: 10px;
     border-left: 1px solid Black;
     padding: 10px;
     line-height: 2em;
}
 .wrapper {
     border: 1px solid Black;
     width: 1000px;
     margin: auto;
}
 .biscuit {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 300px;
     height: 300px;
}
 @media only screen and (min-width: 400px) {
     .biscuitdesc {
         color: Yellow;
         text-align: left;
    }
     .ingredients {
         color: Blue;
         text-align: right;
    }
     .ingredients ul {
         background: AliceBlue;
         padding: 5px;
    }
     .ingredients ul li {
         padding: 20px;
         background: Aqua;
    }
     .directions li {
         color: Blue;
    }
}
 @media only screen and (min-width: 800px){
     .biscuitdesc {
         color: Blue;
         text-align: center;
    }
     .ingredients {
         color: Red;
         text-align: center;
    }
     .ingredients ul {
         background: Aqua;
         padding: 10px;
    }
     .ingredients ul li {
         padding: 25px;
         background: Red;
    }
     .directions li {
         color: Blue;
    }
}
 .biscuitdesc {
     text-align: center;
}
 .ingredients ul {
     background: #FFE4C4;
     padding: 10px;
}
 .ingredients ul li {
     padding: 10px;
     background: #F5F5DC;
}
 #map {
     height: 800px;
}
